body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('tausta.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    margin-bottom: 20px;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    width: 450px;
    margin: 0 auto;
}

.card {
    width: 140px;
    height: 140px;
    background-color: #3498db;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    border-radius: 15px;
}

.card.flipped img {
    display: block;
}

.card.flipped {
    background-color: white;
}
